@using Online_Shop.Utils
@using Online_Shop.Models
@using Online_Shop.Models.DTO
@using System
@{
    var catergories = NavHelper.GetCategories();
    var manufacturers = NavHelper.GetManufacturers();

}


<div class="header">
    <div class="container">
        @if (Session["Message"] != null && !Session["Message"].Equals(""))
        {
            <div class="alert alert-success alert-dismissible " id="SessionMessage">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Session["Message"]</strong>
            </div>
            Session["Message"] = "";
        }

        <div class="header-grid">
            <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                <ul>

                    @{
                        var user = (User)Session["User"];
                        if (user == null)
                        {
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:laiminhduc99@gmail.com">laiminhduc99@gmail.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+84 0386 <span>675</span> 1567</li>
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/Home/Login">Login</a></li>
                            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/Home/Register">Register</a></li>
                        }
                        else
                        {
                            <li><i class="glyphicon glyphicon-user" aria-hidden="true"></i>Hello @user.Name</li>
                            if (user.Role.Name.ToUpper() != "USER")
                            {
                                <li><i class="glyphicon glyphicon-check" aria-hidden="true"></i><a href="/Admin/Dashboard">Admin Page</a></li>
                            }
                            <li><i class="glyphicon glyphicon-align-justify" aria-hidden="true"></i><a href="/Checkout/Index">My Order</a></li>
                            <li><i class="glyphicon glyphicon-folder-close" aria-hidden="true"></i><a href="/Home/UpdateProfile">Update Profile</a></li>
                            <li><i class="glyphicon glyphicon-check" aria-hidden="true"></i><a href="/Home/UpdatePassword">Change Password</a></li>
                            <li><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i><a href="/Home/Logout">Logout</a></li>

                        }
                    }

                </ul>
            </div>
            <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/profile.php?id=100008361780747" class="facebook"></a></li>
                    <li><a href="https://www.instagram.com/ducccop/" class="instagram"></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="logo-nav">
            <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                <h1><a href="/Home">QTD Store <span>Shop anywhere</span></a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li><a href="/Home">Home</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Category</h6>
                                                @foreach (var item in catergories)
                                                {
                                                    <li><a href="/ProductView/Category/@item.Id">@item.Name</a></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Manufacturer</h6>
                                                @foreach (var item in manufacturers)
                                                {
                                                    <li>@Html.ActionLink(item, "Manufacturer", "ProductView", new { name = item}, FormMethod.Get)</li>
                                                }
                                            </ul>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    @using (Html.BeginForm("Index", "ProductView",FormMethod.Post))
                                    {
                                        <div class="">

                                            <p>
                                                @Html.TextBox("SearchString", null, new { @class = "form-control rounded", @placeholder = "Search Product" })
                                            </p>

                                        </div>
                                    }
                                </a>
                            </li>

                        </ul>
                      
                    </div>
                </nav>
            </div>

            <div class="header-right">
                <div class="cart box_1">
                    @if (System.Web.HttpContext.Current.Session["User"] != null)
                    {
                        <a href="/Cart">
                            <h3>
                                @{
                                    var list = (List<ProductCart>)Session[Convert.ToString(((User)Session["User"]).Id)];
                                    var count = 0;
                                    if (list != null)
                                    {
                                        count = list.Count;
                                    }
                                    else
                                    {
                                        Session["Total"] = (decimal)0;
                                    }
                                }
                                <div id="total-cart-item">

                                    <span>$@Session["Total"]</span> (@count items)
                                </div>

                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty"> Your Cart</a></p>
                        <div class="clearfix"> </div>
                    }
                    else
                    {
                        <a href="/Home/Login">
                            <h3>

                                <div class="total">
                                    <span>$0.00 </span> (0 items)
                                </div>

                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        <div class="clearfix"> </div>
                    }
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script>
    $('#SessionMessage').delay(3000).fadeOut('slow');
</script>
<!-- //header -->