@model PagedList.IPagedList<Online_Shop.Models.Role>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Scripts/PaginationStyle.css" />
</head>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-inverse-primary">
                    @Html.ActionLink("Create New Role", "Create", "Role")
                </button>
                <br />
                <br />

                <h2 class="card-title">Roles</h2>
                @Html.Partial("SearchBox")

                <br />

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-inverse-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { Style = "display: inline" })</button>
                                    @using (Html.BeginForm("Delete", "Role", new { id = item.Id }, FormMethod.Post, new { @Style = "display: inline", onclick = "return confirm('Are you sure you wish to delete this role?');" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class=" btn btn-inverse-danger">Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="pagination">

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                {
                         MaximumPageNumbersToDisplay = 5

                     })

</div>
