@model Online_Shop.Models.DTO.UserLogin
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QTD STORE</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Include/Admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Include/Admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Include/Admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Include/Admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">

                            @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { @class = "pt-3" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="brand-logo">
                                <h1>Login </h1>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="mdi mdi-account-outline text-primary"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.user_name, "", new { id = "exampleInputEmail", @class = "form-control form-control-lg border-left-0", @placeholder = "Username" })


                                </div>
                                @Html.ValidationMessageFor(m => m.user_name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="mdi mdi-lock-outline text-primary"></i>
                                        </span>
                                    </div>
                                    @Html.PasswordFor(m => m.password, new { id = "exampleInputPassword", @class = "form-control form-control-lg border-left-0", @placeholder = "Password" })
                                </div>
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                            </div>

                                <div class="my-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">LOGIN</button>
                                </div>


                            }
                        </div>
                    </div>
                    <div class="col-lg-6 login-half-bg d-flex flex-row">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2021  All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Include/Admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Include/Admin/js/off-canvas.js"></script>
    <script src=".~/Include/Admin/js/hoverable-collapse.js"></script>
    <script src="~/Include/Admin/js/template.js"></script>
    <!-- endinject -->
</body>

</html>
