@model Online_Shop.Models.DTO.ProductSpec
@using Online_Shop.Utils;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = NavHelper.GetCategories();
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Best Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Single :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="js/simpleCart.min.js"></script>
    <!-- cart -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!-- for bootstrap working -->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="css/animate.min.css" rel="stylesheet">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</head>

<body>
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Single Page</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- single -->
    <div class="single">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="categories animated wow slideInUp" data-wow-delay=".5s">
                    <h3>Categories</h3>
                    
                    <ul class="cate">
                        @foreach (var item in categories)
                        {

                            <li><a href="/ProductView/@item.Id">@item.Name</a></li>

                        }
                    </ul>

                </div>
                <div class="men-position animated wow slideInUp" data-wow-delay=".5s">
                    <a href="single.html"><img src="images/29.jpg" alt=" " class="img-responsive" /></a>
                    <div class="men-position-pos">
                        <h4>Summer collection</h4>
                        <h5><span>55%</span> Flat Discount</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-8 single-right">
                <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                    <div class="flexslider">

                        @{
                            var InputFileName = Model.Product.Images.Split(';');
                        }
                        <ul class="slides">
                            @foreach (var item in InputFileName)
                            {
                                <li data-thumb="images/si.jpg">
                                    <div class="thumb-image"> <img src="@Path.Combine("/Include/Images/", item);" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            }
                        </ul>



                        


                    </div>
                    <!-- flixslider -->
                    <script defer src="js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                    <!-- flixslider -->
                </div>
                <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">

                    <h3>@Model.Product.Name</h3>
                    <h4><span class="item_price">VND @Model.Product.Price</span></h4>
                    <div class="description">
                        <h5><i>Description</i></h5>
                        <p>
                            @Model.Product.Short_desc
                        </p>
                    </div>
                    <div class="color-quality-right">
                        <h5>Quantity Left:</h5>
                        <p class="frm-fie">@Model.Product.Quantity</p>
                    </div>
                    <div class="occasion-cart">
                        <a class="item_add" href="#">add to cart </a>
                    </div>
                    <div class="social">
                        <div class="social-left">
                            <p>VISIT US ON :</p>
                        </div>
                        <div class="social-right">
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/htg30599" class="facebook"></a></li>                              
                                <li><a href="https://www.instagram.com/_corazon.me/" class="instagram"></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Product Specification</a></li>                           
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Specification</th>
                                            <th>Detail</th>
                                        </tr>
                                        <tr>
                                            <td>CPU</td>
                                            <td>@Model.Spec.CPU</td>
                                        </tr>
                                        <tr>
                                            <td>GPU</td>
                                            <td>@Model.Spec.GPU</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>@Model.Spec.RAM</td>
                                        </tr>
                                        <tr>
                                            <td>SCREEN</td>
                                            <td>@Model.Spec.Screen</td>
                                        </tr>
                                        <tr>
                                            <td>Ports</td>
                                            <td>@Model.Spec.Ports</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>@Model.Spec.Storage</td>
                                        </tr>
                                        <tr>
                                            <td>Connectivity</td>
                                            <td>@Model.Spec.Connectivity</td>
                                        </tr>
                                        <tr>
                                            <td>Size</td>
                                            <td>@Model.Spec.Size</td>
                                        </tr>
                                        <tr>
                                            <td>Weight</td>
                                            <td>@Model.Spec.Weight</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>@Model.Spec.Battery</td>
                                        </tr>
                                        <tr>
                                            <td>Manufacturer</td>
                                            <td>@Model.Spec.Manufacturer</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                                                                               
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //single -->
    <!-- zooming-effect -->
    <script src="js/imagezoom.js"></script>
    <!-- //zooming-effect -->
</body>
</html>