@model Online_Shop.Models.DTO.ProductSpec
@using Online_Shop.Utils;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = NavHelper.GetCategories();
}


<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Single Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories animated wow slideInUp" data-wow-delay=".5s">
                <h3>Categories</h3>

                <ul class="cate">
                    @foreach (var item in categories)
                    {

                        <li><a href="/ProductView/@item.Id">@item.Name</a></li>

                    }
                </ul>

            </div>

        </div>
        <div class="col-md-8 single-right">
            <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">

                    @{
                        var InputFileName = Model.Product.Images.Split(';');
                    }
                    <ul class="slides">
                        @for (int i = 0; i < InputFileName.Length - 1; i++)
                        {
                            <li data-thumb="@Path.Combine("/Include/Images/"+ InputFileName[i])">
                                <div class="thumb-image"> <img src="@Path.Combine("/Include/Images/"+ InputFileName[i])" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                    </ul>






                </div>
                <!-- flixslider -->
                <!-- flixslider -->
            </div>
            <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">

                <h3>@Model.Product.Name</h3>
                <h4><span class="item_price">$ @Model.Product.Price</span></h4>
                <div class="description">
                    <h5><i>Description</i></h5>
                    <p>
                        @Model.Product.Short_desc
                    </p>
                </div>
                <div class="color-quality-right">
                    <h5>Quantity Left: @Model.Product.Quantity</h5>

                </div>
                <div class="occasion-cart">
                    <a class="item_add" href="/Cart/AddToCart/@Model.Product.Id">add to cart </a>
                </div>
                <div class="social">
                    <div class="social-left">
                        <p>VISIT US ON :</p>
                    </div>
                    <div class="social-right">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/htg30599" class="facebook"></a></li>
                            <li><a href="https://www.instagram.com/_corazon.me/" class="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Product Specification</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                            @if (Model.Spec != null)
                            {
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Specification</th>
                                            <th>Detail</th>
                                        </tr>
                                        <tr>
                                            <td>CPU</td>
                                            <td>@Model.Spec.CPU</td>
                                        </tr>
                                        <tr>
                                            <td>GPU</td>
                                            <td>@Model.Spec.GPU</td>
                                        </tr>
                                        <tr>
                                            <td>RAM</td>
                                            <td>@Model.Spec.RAM</td>
                                        </tr>
                                        <tr>
                                            <td>SCREEN</td>
                                            <td>@Model.Spec.Screen</td>
                                        </tr>
                                        <tr>
                                            <td>Ports</td>
                                            <td>@Model.Spec.Ports</td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td>@Model.Spec.Storage</td>
                                        </tr>
                                        <tr>
                                            <td>Connectivity</td>
                                            <td>@Model.Spec.Connectivity</td>
                                        </tr>
                                        <tr>
                                            <td>Size</td>
                                            <td>@Model.Spec.Size</td>
                                        </tr>
                                        <tr>
                                            <td>Weight</td>
                                            <td>@Model.Spec.Weight</td>
                                        </tr>
                                        <tr>
                                            <td>Battery</td>
                                            <td>@Model.Spec.Battery</td>
                                        </tr>
                                        <tr>
                                            <td>Manufacturer</td>
                                            <td>@Model.Spec.Manufacturer</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                            else
                            {<div style="text-align: center; ">
                                    <em><b>None</b></em>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //single -->
<!-- zooming-effect -->
<!-- //zooming-effect -->
@section Scripts{
    <script defer src="~/Include/Web/Scripts//jquery.flexslider.js"></script>
    <script src="~/Include/Web/Scripts/imagezoom.js"></script>
    <link rel="stylesheet" href="~/Include/Web/Css/flexslider.css" type="text/css" media="screen" />
    <script>
        // Can also be used with $(document).ready()
        $(window).ready(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
}
