
@{
    ViewBag.Title = "_Password";
    Layout = "";
}


@model Online_Shop.Models.DTO.Password

@Html.AntiForgeryToken()
@if (ViewBag.Message != null)
{
    <span class="text-success">@ViewBag.Message</span>
}
<div id="mydiv">
    @if (ViewBag.Message != null)
    {
        <span class="text-success">@ViewBag.Message</span>

    }
    @if (ViewData["Validation-" + ViewBag.userId] != null)
    {
        foreach (var i in ViewData["Validation-" + ViewBag.userId])
        {
            <p><span class="text-danger">@i.ErrorMessage</span></p>
        }

    }
</div>



<div class="form-group">
    <label>New Password</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", type = "Password", placeholder = "Enter New Password" } })
        @*@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })*@
    </div>
</div>

<div class="form-group">
    <label> Confirm New Password</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ReNewPassword, new { htmlAttributes = new { @class = "form-control", type = "Password", placeholder = "Enter Confirm New Password" } })
        @*@Html.ValidationMessageFor(model => model.ReNewPassword, "", new { @class = "text-danger" })*@
    </div>
</div>



