@model Online_Shop.Models.DTO.UsersRoles

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class=" row">
    <div class=" col-lg-12 grid-margin stretch-card">
        <div class=" card">
            <div class=" card-body">
                <button type="button" class=" btn btn-inverse-primary">
                    @Html.ActionLink("Create new User", "Create", "User")
                </button>
                <br />
                <br />

                <h2 class=" card-title">Users:</h2>
                <table class="table">
                    <tr>

                        <th>Avatar</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Date of birth</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Role</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model.Users)
                    {
                        <tr>

                            <td>
                                @if (item.Avatar != "")
                                {
                                    var image = Path.Combine("/Include/Images/", item.Avatar);
                                    <img src="@image" width="200" height="200" />
                                }
                                else
                                {
                                    <em><b>Not Set</b></em>
                                }



                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td width="300px">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @using (Html.BeginForm("ChangeRole", "User", new { id = item.Id }, FormMethod.Post))
                                {

                                    @Html.DropDownList("Role", new SelectList(Model.Roles, "Id", "Name"), "---"+ item.Role.Name+"---",
         new { @class = "form-control", @onchange = "this.form.submit()&&document.location.reload(false)" , style = "border:1px solid black" })
                                }



                            </td>
                            <td>
                                <button type="button" class="btn btn-inverse-primary">@Html.ActionLink("Update", "UpdatePassword", "User", new { id = item.Id }, new { @Style = "display : inline" })</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-inverse-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @Style = "display : inline" })</button>

                                @using (Html.BeginForm("Delete", "User", new { id = item.Id }, FormMethod.Post, new { @Style = "display : inline", onclick = "return confirm('Are you sure you wish to delete this user?');" }))
                                {
                                    @Html.AntiForgeryToken();
                                    <button type="submit" class=" btn btn-inverse-danger">Delete</button>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function ChangeRole(val, id) {
            $.ajax({
                type: "POST",
                url: "/Admin/User/ChangeRole",
                data: { newRole_id: val, userId = id },
                success: success,
                dataType: "json"
            });

        }
    </script>


}
