@model Online_Shop.Models.DTO.UserRoles
@{
    /**/

    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Registration</li>
        </ol>
    </div>
</div>
<!-- register -->
<div class="register">
    <div class="container">

        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>Registration</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class=" col-md-2">User Name</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.User_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" } })
                        @Html.ValidationMessageFor(model => model.User.User_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User.Password, htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control", type = "Password", placeholder = "Enter Password" } })
                        @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class=" col-md-2">Confirm Password</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.RePassword, new { htmlAttributes = new { @class = "form-control", type = "Password", placeholder = "Enter Confirm Name" } })
                        @Html.ValidationMessageFor(model => model.User.RePassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User.Name, htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter User Name" } })
                        @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email" } })
                        @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User.Address, htmlAttributes: new { @class = " col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Address" } })
                        @Html.ValidationMessageFor(model => model.User.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class=" col-md-2">Avatar</label>
                    <div class="col-md-12">

                        <div class="form-group">

                            <div class="col-md-12">
                                <input type="file" name="file" id="Files" />
                            </div>
                            <div class="col-md-offset-2 col-md-10 text-danger">
                                @ViewBag.UploadStatus
                            </div>
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    <label class=" col-md-2">Gender</label>
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.User.Gender, new List<SelectListItem>
                   {
                       new SelectListItem{ Text="Male", Value="Male"},
                       new SelectListItem{ Text="Female", Value="Female"}
                   }, "--- Select ---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.User.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Phone Number</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User.Phone_number, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone Number" } })
                        @Html.ValidationMessageFor(model => model.User.Phone_number, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <label class=" col-md-2">Date of Birth</label>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.User.Dob, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control", placeholder = "Enter Date Of Birth" })
                        @Html.ValidationMessageFor(model => model.User.Dob, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" value="Register" class="btn btn-primary">
            </div>
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
