@model IPagedList<Online_Shop.Models.Category>
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <!-- Git pull: Categorieszzzz-->
                <h4 class="card-title">Cat</h4> 
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Short Description
                            </th>
                            <th>Actions</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.short_desc)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary ">@Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @Style = "display: inline" })</button>
                                    @using (Html.BeginForm("Delete", "Category", new { id = item.id }, FormMethod.Post, new { @Style = "display: inline" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class=" btn btn-outline-danger">Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>

